streamlit==1.50.0
google-generativeai==0.8.5
groq==0.32.0
google-api-python-client==2.184.0
PyPDF2==3.0.1
python-docx==1.2.0
pandas==2.3.3
Pillow==11.3.0
requests==2.32.5
yfinance==0.2.66
plotly==6.3.1
numpy==2.3.3
opencv-python==4.12.0.88
scipy==1.16.2
matplotlib==3.10.6
openai==2.1.0
PyGithub==2.8.1
disposable-email-domains==0.0.138
razorpay==2.0.0
asyncio-throttle==1.0.2
jsonschema>=4.17.0
python-dateutil==2.9.0.post0
google==3.0.0
github
