streamlit==1.26.1
PyPDF2==3.1.1
Pillow==10.0.1
python-docx==0.8.12
pandas==2.1.1
requests==2.31.0
yfinance==0.2.42
plotly==5.16.0
numpy==1.26.0
PyGithub==2.3.1
disposable-email-domains==0.0.33
razorpay==2.0.1
